* {
  margin: 0;  
  padding: 0;
}

nav {
    width: 100%;
    height: 100px;
    background-color: rgb(177, 176, 176);
}

body {
    height: 100vh;  
    background: linear-gradient(
        to right,
        #f72585ff 0px,
        #f72585ff 600px,
        white 50px,
        white 100px
    );    
}

.fwh-slide {
    height: 30vh;
    box-sizing: border-box;
}

.square {
  display: flex;
  width: 200px  ;
  height: 5000px;
  background: rgb(232, 23, 152);
  position: absolute;
  left: 600px;
  bottom: 0px;

}

.square-2 {
    display: flex;
    width: 100px;
    height: 5000px;
    background: rgb(175, 37, 247);
    position: absolute;
    left: 750px;
    bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
 
  .square-3 {
    display: flex;
    width: 50px  ;
    height: 1500px;
    background: rgb(37, 116, 247);
    position: relative;
    left: 800px;
    bottom: 1000px;
  
  } 

h3 {
        font-family: 'Redressed', cursive; 
        font-size: 30px;
        color: rgb(46, 36, 24);
        text-align: justify;
    }

h2 {
    font-weight: lighter;
    font-family: 'Redressed', cursive; 
    font-size: 40px;
    color: rgb(46, 36, 24);
    text-align: justify;
}

 h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 79px;
    color: rgb(248, 243, 243);
    text-align:left ;
    font-weight: bold;
 }

 p {
    font-weight: bold;
    font-family: 'Livvic', sans-serif;
    font-size: 20px;
    text-align: right;
}

.btn {
  background-color: #ffffff; 
  border: none;
  color: rgb(0, 0, 0);
  padding: 20px;
  width: 160px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: relative;
  left: 100px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-property: box-shadpw, transition;
  transition-property: box-shadpw, transition;
}

.btn:hover, .btn:focus, .btn:active{
  box-shadow: 0 0 20px  rgba(0, 0, 0, 0.5);
-webkit-transform: scale(1.1);
transform: scale(1.1);
color: #f72585ff;
}

