* {
    margin: 0;
    padding: 0;
  }
  
  
  body {
      width: 100vh;  
      background: linear-gradient(
          to top,
          #f72585ff 0%,
          #f72585ff 50%,
          white 50%,
          white 100%
      );    
  }
  
  h3 {
      font-family: 'Redressed', cursive; 
      font-size: 30px;
      color: rgb(46, 36, 24);
      text-align: justify;
  }
  
  h2 {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 40px;
  color: rgb(46, 36, 24);
  text-align: justify;
  }
  
  h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  color: rgb(0, 0, 0);
  text-align:left ;
  font-weight: bold;
  position: relative;
  top: 70px;
  left: 50px;
  }
  
  p {
  font-weight: 300;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  text-align: justify;
  position: relative;
  left: 50px;
  width: 10cm;
  overflow-wrap: break-word;
  }

  .img-home {
    display: block;
    width: 100px;
    position: relative;
    left: 40px;
    bottom: 440px;
}
  .img-propagandas {
    width: 450px;
    position: relative;
    bottom:  560px;
    left: 310px;
    filter: grayscale(80%);
  }

  .img-research {
    width: 450px;
    position: relative;
    bottom:  560px;
    left:    450px;
    filter: grayscale(80%);
  }

  .design-1 {
      display: block;
      width: 100px; 
      position: relative;
      left: 1200px;
      bottom: 650px;
  }

  
  .shape-1 {
      width: 1400px;
      height: 90px;
      background: #f72585ff;
      position: relative;
      left: 0px;
      bottom: 0px;
      top: 150px;
    
    }
  
  .btn {
      background-color: #ffffff; 
      border: none;
      color: rgb(0, 0, 0);
      padding: 20px;
      width: 160px;
      height: 50px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 50px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      position: relative;
      left: 1100px;
      bottom: 700px;
      text-transform: uppercase;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      -webkit-transition-property: box-shadpw, transition;
      transition-property: box-shadpw, transition;
    }
  
    .btn:hover, .btn:focus, .btn:active{
      box-shadow: 0 0 20px  rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    }
    
    